node_modules
npm-debug.log
build
dist
.git
.gitignore
.env
.env.local
.DS_Store
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.egg-info
.pytest_cache
venv
env
.coverage
htmlcov
.venv
frontend/auth-app/node_modules
frontend/auth-app/build
backend/__pycache__
backend/.pytest_cache
.editorconfig
README.md
Rapports
