# Gitignore - Senior Configuration for Tam-App

# Dependency directories
node_modules/
frontend/auth-app/node_modules/
data_pipeline/venv/
backend/venv/

# Build artifacts
build/
dist/
frontend/auth-app/build/
data_pipeline/tam_dbt/target/
data_pipeline/tam_dbt/dbt_packages/

# Environment and Secrets
.env
.env.*
!.env.example
data_pipeline/.env
backend/.env

# Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
backend/.pytest_cache/
data_pipeline/.pytest_cache/

# Logs
*.log
**/logs/
data_pipeline/airflow/logs/
airflow/logs/

# DBT specific
data_pipeline/tam_dbt/logs/

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data and Checkpoints
data_pipeline/checkpoint_kafka_json/
postgres_data/
airflow_db_data/
frontend_data/

# Docker
.docker
docker-compose.override.yml
